# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
*.env

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
*.tar.gz

# IDE and editor files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python test/coverage reports
*.coverage
*.coverage.*
nosetests.xml
coverage.xml
*.cover
*.hypothesis/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Environment variables
.env
.env.*

# pipenv
Pipfile.lock

# pytest
.cache/

# pip
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# Local environment files
.local/

*.jpg
*.jpeg
